<div class='container'>
    <div class='row'>
        <div class='col s12 m6 l12 '> 

        <h1><%= t('team.new_team') %></h1>

        <%= render 'form', team: @team %>

        <%= link_to t('team.back'), teams_path %>

        </div>
    </div>
</div>
