/**Color**/
$primary-color: #212121;
$primary-font-color: white;
$secondary-font-color: #00CD5D;
$secondary-font-color-hover: #03AA51;
$white: #fff;
$space-grey:  #333;
$down-grey: #eee;
$middle-grey: #666;
$contact: black;
$facebook-btn: #3b5998;
/**Components**/
$side-background: $primary-color;
$side-font-color: $primary-font-color;
$font-hover: $secondary-font-color;
