/**Color**/
$primary-color: #212121;
$primary-font-color: white;
$secondary-font-color: #00e25a;
$white: #fff;
$space-grey:  #333;
$down-grey: #eee;
$middle-grey: #666;
$contact: black;
/**Components**/
$side-background: $primary-color;
$side-font-color: $primary-font-color;
$font-hover: $secondary-font-color;
