/**Color**/
$primary-color: #212121;
$primary-font-color: white;
$second-font-color: #00e25a;
$white: #fff;
$grey:  #333;
$down-grey: #eee;
$middle-grey: #666;

/**Components**/
$side-background: $primary-color;
$side-font-color: $primary-font-color;
$font-hover: $second-font-color;