<div class='container'>
    <div class='row'>
        <div class='col s12 m6 l12 '> 

        <h1><%= t('technique.new_technique') %></h1>

        <%= render 'form', technique: @technique %>

        <%= link_to t('technique.back'), techniques_path %>

        </div>
    </div>
</div>
