<div class="slider">
  <ul class="slides">
    <li>
       <%= link_to image_tag('homepage.jpg') %>
      <div class="caption center-align">
        <h3>FINDEN MX</h3>
        <h5 class="light grey-text text-lighten-3">Make you're dream come true.</h5>
      </div>
    </li>
    <li>
      <img src="https://lorempixel.com/580/250/nature/2"> <!-- random image -->
      <div class="caption left-align">
        <h3>Left Aligned Caption</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
  </ul>
</div>
