<nav>
  <div class="nav-wrapper grey darken-4">
    <%= link_to image_tag('finden.png', width: 150, height: 60), class: 'brand-logo'%>
    <a href="#!" class="brand-logo"></a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="sass.html">About us</a></li>
      <li><a href="badges.html">FAQ</a></li>
      <li><a href="collapsible.html">Contact</a></li>
      <li><a href="mobile.html">Login</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a href="sass.html">About us</a></li>
  <li><a href="badges.html">FAQ</a></li>
  <li><a href="collapsible.html">Contact</a></li>
  <li><a href="mobile.html">Login</a></li>
</ul>