<div class='container'>
  <div class='row'>
    <div class='col s12 m6 l12 '>

      <h1><%= t('personal.personal_view') %></h1>

      <%= render 'disable_form', personal: @personal %>

    </div>
  </div>
</div>

