<div class='container'>
    <div class='row'>
        <div class='col s12 m6 l12 '> 
        <h1><%= t('visoria.new_visoria') %></h1>

        <%= render 'form', visorium: @visorium %>

        <%= link_to t('visoria.back') , visoria_path %>

        </div>
    </div>
</div>