<div class="container">
  <div class="row">
    <h1><%= t('about_page.title')%></h1>  
  </div>
  <div class="row">
    <div class="col s5">
      <%= link_to image_tag('about-img.jpg', width: 200, height: 200)%>      
    </div>
    <div class="col s7">
      <p><%= t('about_page.information') %></p>      
    </div>
  </div>
</div>

