<div class="about-container">
  <div class='background-about col s12 m4'>
    <div class="row">
      <h3 class='hero-title title-about'><%= t('about_page.title') %></h3>
    </div>
    <div class="row">
        <p class='about-info'><%= t('about_page.information').html_safe %></p>
    </div>
  </div>
</div>

