<div class="container">
  <div class="row">
    <h1>About us</h1>  
  </div>
  <div class="row">
      <div class="col s5">
        <%= link_to image_tag('about-img.jpg', width: 200, height: 200)%>      
      </div>
      <div class="col s7">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Mauris id justo urna. Cras sagittis lacinia arcu, ut tincidunt sem bibendum ac.
      Phasellus eu risus eu arcu mattis lacinia.
      Nam dictum condimentum sem sed scelerisque. Sed euismod diam <br>
      a velit pharetra fringilla. Pellentesque pellentesque consectetur congue. <br>
      Vestibulum convallis vestibulum cursus. Pellentesque euismod ultricies felis sit amet efficitur. Integer maximus congue consequat. </p>      
      </div>
  </div>
</div>

