<div class='container'>
    <div class='row'>
        <div class='col s12 m6 l12 '> 

        <h1><%= t('contractual.edit_contractual') %></h1>

        <%= render 'form', contractual: @contractual %>

        <%= link_to t('contractual.show'), @contractual %> |
        <%= link_to t('contractual.back'), contractuals_path %>

        </div>
    </div>
</div>
