
<h1><%= t('contractual.edit_contractual') %></h1>

<%= render 'form', contractual: @contractual %>

<%= link_to t('contractual.show'), @contractual %> |
<%= link_to t('contractual.back'), contractuals_path %>
