<div class='container'>
<div class='row'>
<div id='form_team' class='col s12 m6 l12 '> 

<h1><%= t('contractual.new_contractual') %></h1>

<%= render 'form', contractual: @contractual %>

<%= link_to t('contractual.back'), contractuals_path %>

</div>
</div>
</div>
