<div class="container">
  <div class="card-panel">
    <div class="settings-personal">
      <div class="row">
        <form class="col s12 m12 l12">

          <div class="row">
            <div class="row-name col s12">
              <div class="input-field col s12 m6">
                <input id="first_name" type="text" class="validate">
                <label for="first_name"> First Name </label>
              </div>
              <div class="input-field col s12 m6">
                <input id="last_name" type="text" class="validate">
                <label for="last_name"> Last Name </label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="row-name col s12">
              <div class="input-field col s12 m6">
                <input id="country" type="text" class="validate">
                <label for="country"> Country </label>
              </div>
              <div class="input-field col s12 m6">
                <input id="State" type="text" class="validate">
                <label for="State"> State </label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="row-name col s12">
              <div class="input-field col s12 m6">
                <input id="City" type="text" class="validate">
                <label for="City"> City </label>
              </div>
              <div class="input-field col s12 m6">
                <input id="Nationality" type="text" class="validate">
                <label for="Nationality"> Nationality </label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="row-asd col s12">
              <div class="col s12 m6">
                <label> Date </label>
                <input type="date" class="datepicker">
              </div>
              <div class="col s12 m6">
                <label> Gender </label>
                <select class="browser-default">
                  <option value="" disabled="" selected=""> Gender </option>
                  <option value="1"> Male </option>
                  <option value="2"> Female </option>
                  <option value="3"> Rather not say </option>
                </select>
              </div>
            </div>
          </div>

          <button class="btn waves-effect waves-light right" type="submit" name="action"> Submit
          </button>

        </form>
      </div>
    </div>
  </div>
</div>
