// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
  font-family: "Rubik";
  font-size: 30px;
  src: url('https://fonts.google.com/specimen/Rubik');
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Rubik", sans-serif;
  min-height: 100vh;
}

nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
  font-size: 33px;
}

nav .sidenav-trigger {
  float: right;
}

.main-navigation-logo {
  font-size: 64px;
  margin-left: 15px;
}

.logo-nav {
  width: 90px;
}

nav ul {
  align-items: center;
  display: flex;
  height: 100%;
  line-height: 0;
  a {
    font-size: 16px;

    &:hover {
    color: $font-hover;
    }
  }
}

.sidenav {
  background-color: $primary-color;
}

.sidenav li > a {
  color: $side-font-color;
  font-size: 16px;

  &:hover {
  color: $secondary-font-color;
  }
}

.title-banner-uno, h5{
  text-align: end;
}

.wrapper-footer {
  background-color: $primary-color;
  flex: 1;
  position: relative;
}

.footer {
  bottom: 0;
  color: white;
  height: auto;
  position: absolute;
  width: 100%;
}

.row-information {
  margin-bottom: 0px;
}

.ul-footer .subtitle > a {
  color: $primary-font-color;
  
  &:hover {
    border-bottom: 1px solid $secondary-font-color;
  }
}

.title-footer {
  margin-bottom: 10px;
  & a {
    color: $secondary-font-color;
    font-size: 16px;
    
  }
}

.icons {
  align-items: baseline;
  display: flex;
  height: 30px;
  margin-right: 50px;
  width: 30px;
  @media(max-width: 768px) {
    margin-right: 40px
   }
}

.image-icon {
  margin-right: 10px;
  width: 100%;
  & img {
    width: 30px;
    @media(max-width: 768px) {
      width: 20px;
     }
  }
  @media(max-width: 768px) {
    width: 20px;
   }

}

.column-footer {
  margin-top: 20px;
}

.social-icons {
  @media(max-width: 768px) {
    display: flex;
    justify-content: center;
    margin: 0;
  }
}

.container-icons {
  align-items: flex-end;
  display: flex;
  height: 130px;
  justify-content: flex-end;

    @media(max-width: 768px) {
     height: auto;
    }
}

.subtitle {
  font-size: 13px;
  margin-bottom: 10px;

  &.no-margin {
    margin: 0;
  }
}

.row-copyrigths {
  margin: 0;
}

.copyrights {
  text-align: center;
  & a {
    color: $secondary-font-color;
  }
}

.row .social-icons.col.s3 {
   
  @media(max-width: 768px) {
    margin-left: 6px;
    margin-top: 0;
  }
}

.h5nomal {
  text-align: left;
}
